* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://as1.ftcdn.net/jpg/03/66/34/12/500_F_366341233_BYHCnmhAdwgBmSdKHXKKcMTze2eSw11x.jpg");

  
}

/*NAVBAR IMG*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}
.logoimg img {
  height: 100px;
}
.profileimg img {
  height: 40px;
}
.backimg img {
  height: 40px;
}
.plusimg img {
  height: 50px;
}


/*NAVBAR TABS*/
.tabs button{
  border-color:rgb(182, 221, 226);
  background-color: rgb(182, 221, 226);
  padding: 1%;

}

/*APP CONTAINER*/
.container {
  background-color: rgb(206, 234, 238);
  margin: 0 5%;
}
.tabs {
  margin: 0 5%;
}

/*PROFILE CONTAINER*/

.profileContainer {
  padding: 4%;
}

/*USER*/
.userStyle img {
  margin: 3%;
}
.userStyle p {
  margin-left: 4%;
}

/*SHELTER*/
.shelterStyle img {
  margin: 3%;
}
.shelterStyle p {
  margin-left: 4%;
}