* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-image: url("https://i.pinimg.com/564x/1d/a7/27/1da72701be5a6847a796aea6e571a66e.jpg"); 
}

/*NAVBAR IMG*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
  
}
.logoimg img {
  height: 100px;
}
.profileimg img {
  height: 40px;
  margin-left: 30px;
}
.backimg img {
  height: 40px;
  margin-right: 30px;
}
.plusimg img {
  height: 40px;
  padding: 8px;
  
}


/*NAVBAR TABS*/
.tabs button{
  border-color:rgba(163, 27, 27, 0.719);
  background-color: rgba(214, 40, 40, 0.719);
  padding: 1%;
  color: white;
  font-weight: bolder;
}
.blockNavTabs {
  justify-content: center;

}

/*LOGIN*/
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}



/*APP CONTAINER*/
.container {
  background-color: rgba(223, 183, 173, 0.856);
  margin: 0 5%;
}
.tabs {
  margin: 0 5%;
}


/*PROFILE CONTAINER*/


.Pbutton {
  padding: 1%;
  border-color:rgba(163, 27, 27, 0.719);
  background-color: rgba(214, 40, 40, 0.719);
  color: white;
  
}
#profh3 h3 {
  display: flex;
  text-align:center;
  justify-content: center;
}
/*USER*/

.userStyle p {
  margin-left: 4%;
}
.userContainer {
  padding: 4%;
  
}
.userStyle {
  display: flex;
  flex-wrap: wrap;
}

.userStyle img, p {
  margin: 5px;
  text-align: center;
  border-radius: 5%;
}

.userLink {
  text-decoration: none;
  color: black;
}


/*USER DETAILS*/
.userDContainer {
  padding: 4%;
}
.userLGeneral h1 {
  padding-top: 5%;
  padding-left: 4%;
  text-align: center;
}
.userLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.userLinkContainer {
  margin-top: 15px;
}
.userLDiv {
  margin:  5%;
  border-radius: 10%;
  background-color: white;
  padding: 8%;
}

.userText p {
  text-align: left;
}

/*PETS LIST*/

.petLStyle {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  margin-left: 2%;
}
.petLDiv {
  margin:  5%;
  border-radius: 10%;
  background-color: white;
  padding: 8%;
}
.PetLGeneral img {
  border-radius: 5%;
}
.petLDiv h3 {
  margin-top: 5px;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.petLink {
  text-decoration: none;
  color: black;
  text-align: center;
  padding-bottom: 20px;
}
.PetLGeneral h1{
  padding-left: 4%;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}
.PetHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
}


/*PET DETAIL*/

.petDButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  
}
.petContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  margin-left: 2%;
}
.petContainer h2 {
  margin-bottom: 10px;
}
.petDDiv {
  margin:  5%;
  border-radius: 10%;
  background-color: white;
  padding: 10%;
}

.petDLink {
  text-decoration: none;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.petDHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
  
  
}
/*SHLETER LIST*/

.shelterLGeneral h1{
  padding-top: 5%;
  padding-left: 4%;
  
}
.shelterlStyle{
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.shelterDiv {
  margin:  5%;
  border-radius: 10%;
  background-color: white;
  padding: 10%;
  display: flex;
  justify-content: center;
}
.shelterLink {
  text-decoration: none;
  color: black;
  text-align: center;
}
.shelterLink h3 {
  margin-bottom: 10px;
}

/*SHELTER*/
.PetDGeneral h1{
  padding-left: 4%;
  font-size: 2rem;
  text-align: center;
  padding-top: 10px;
  
}
.shelterStyle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shelterDText {
  display: flex;
  flex-direction: column;
}
.shelterDDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:  5%;
  border-radius: 10%;
  background-color: white;
  padding: 10%;
}
.shelterDLink{
  text-decoration: none;
  color: black;
  margin-top: 15%;
  font-weight: bold;
}

/*FEED*/
.feedLGeneral {
  padding-bottom: 5%;
}
.feedLink {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.feedDiv img {
  border-radius: 5%;
}
.feedDiv {
  margin:  6%;
  border-radius: 10%;
  background-color: white;
  padding: 8%;
}
.feedDiv h3{
  font-size: 1.1rem;
}
.feedName {
  text-align: right;
}
.feedLGeneral h1{
  padding-left: 4%;
  font-size: 2.5rem;
  text-align: center;
  
}
.feedLTitlePlus {
  display: inline;
}
.feedLink h3 {
  margin-bottom: 20px;
}
.FeedHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
  padding-bottom: 20%;
  
}
/*ADD FEED*/
.addFeedGeneral h1 {
  padding-left: 4%;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}

.addFeedDiv {
  display: flex;
  flex-direction: column;
  margin: 10% 8%;
  padding-bottom: 20%;
}

.addFeedDiv input, label {
  margin: 5px;
}
.addFeedDiv textarea {
  margin: 5px;
}

.addPetGeneral h1 {
  padding-top: 5%;
  padding-left: 4%;
  font-size: 1.5rem;
  
}
.addFeedHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
}
.addPetDiv {
  display: flex;
  flex-direction: column;
  margin: 6% 8%;
  padding-bottom: 20%;
}

.addPetDiv input, label {
  margin: 3px;
}

/*FEED DETAIL*/
.feedDGeneral h1{
  padding-left: 4%;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}
.feedDDiv img {
  border-radius: 5%;
}
.feedDDiv {
  margin:  6%;
  border-radius: 10%;
  background-color: white;
  padding: 8%;
}
.feedDDiv h3{
  font-size: 1.1rem;
}

.feedDLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.feedArticle {
  background-color: rgba(216, 56, 35, 0.342);
  padding: 8%;
  border-radius: 20%;
  margin: 2%;
}
.button {
  margin: 3%;
  padding: 2%;
  border-color:rgba(163, 27, 27, 0.719);
  background-color: rgba(214, 40, 40, 0.719);
  border-radius: 20%;
  color: white;
}
.FeedDHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
}

/*ADD MESSAGE*/

.addMessageHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
}
.addMessageGeneral h1{
  padding-left: 4%;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}
.addMessageDiv {
  display: flex;
  flex-direction: column;
  margin: 10% 8%;
  padding-bottom: 20%;
}

.addMessageDiv input, label {
  margin: 5px;
}
.addMessageDiv textarea {
  margin: 5px;
}

/*LOGIN*/

.loginHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  width: 100%;
  color: white;
  padding-bottom: 20%;
  text-align: center;
}

.logDiv{
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  
}

#loginButton {
  display: flex;
  justify-content: center;
}

/*USER DETAIL*/
.UserHeader {
  background-image: url(https://i.pinimg.com/564x/8f/18/72/8f18726aabdf7f76e22c9a3b4f32abf6.jpg);
  height: 100px;
  width: 100%;
  color: white;
}
.UserHeader h1 {
  text-align: center;
  padding-top: 8%;
}