* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://i.pinimg.com/474x/85/11/37/851137905cb25841681455933eb23741.jpg"); 
}

/*NAVBAR IMG*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}
.logoimg img {
  height: 100px;
}
.profileimg img {
  height: 40px;
}
.backimg img {
  height: 40px;
}
.plusimg img {
  height: 50px;
}


/*NAVBAR TABS*/
.tabs button{
  border-color:rgb(182, 221, 226);
  background-color: rgb(182, 221, 226);
  padding: 1%;

}

/*APP CONTAINER*/
.container {
  background-color: rgb(206, 234, 238);
  margin: 0 5%;
}
.tabs {
  margin: 0 5%;
}


/*PROFILE CONTAINER*/

.profileContainer {
  padding: 4%;
}

/*USER*/

.userStyle p {
  margin-left: 4%;
}
.userContainer {
  padding: 4%;
  
}
.userStyle {
  display: flex;
  flex-wrap: wrap;
}

.userStyle img, p {
  margin: 0 10px;
  text-align: center;
}

.userLink {
  text-decoration: none;
  color: black;
}

/*PETS LIST*/
.petContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
}
.petLink {
  text-decoration: none;
  color: black;
  text-align: center;
}


/*SHELTER*/
.shelterStyle img {
  margin: 3%;
}
.shelterStyle p {
  margin-left: 4%;
}